{% extends "main.jinja2" %}
{% block title %} - {{ title }}{% endblock %}
{% block content %}
<h2>{{ title }} {% if request.GET.get("path") %}
 - {{ request.GET.get("path") }} {% endif %}</h2>
<form action="" enctype="multipart/form-data" method="post">
Please specify a file, or a set of files:<br>
<input type="file" name="datafile" size="40">
<input type="submit">
</form>
<p><a href="/userarea_admin/file_upload">Go back to root</a></p>
<table>
    <tr>
        <th>Type</th>
        <th>Name</th>
    </tr>
    {% for item in items %}
    <tr>
        {% if item[0] %}
        <td><img src="http://www.veryicon.com/icon/png/System/Radium/Folder.png" width="32" height="32"></td>
        {% else %}
        <td><img src="http://www.veryicon.com/icon/png/System/Radium/File.png" width="32" height="32"></td>
        {% endif %}
        <td><a href="{{ item[1] }}">{{ item[2] }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

