.page-container {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}


  
body, html {
	background: #444444;
	font-size: 100%;
}

a:link {color: #cc9922; text-decoration: underline; }
a:active {color: #0000ff; text-decoration: underline; }
a:visited {color: #008000; text-decoration: underline; }
a:hover {color: #ff0000; text-decoration: none; }


.body {
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 0.7em;
	color: #666666;
	background: #444444;
}


.header {
	width: 800px;
	height: 50px;
	background: #444444;
}

.header h1 {
	color: white;
	font-style: oblique;
	font-size: 3.0em;
}


.jpg { 
	height: 150px;
	background: #444444  url(flower1004x150.png);

}

h1 {
	margin: 0;
	padding: 0;
	float: right;
	margin-top: 57px;
	padding-right: 31px;	
}


.menu {
	float: left;
	width: 200px;
	height: 800px;
	background-color: #444444;
	color: #669966;
	
}
	
.menu .padding {
	padding: 1px;
}


.menu a {
	color: white ;
	margin: 5px;
	font-size: 0.9em;				
}

.menu .hidden dl {
	font-size: 1.0em;
}	
	
.menu h3{
	text-decoration: underline;
	padding-bottom: 0px;
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 0px;
}			


.content {
	float: left;
	margin-top: -52px;
	width: 800px;
	height: 900px;
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 1.0em;
	color: #daa500;
	background-image: url(bgrounda.png);			
}

.content .padding {
	padding: 20px;
}	

.content h2{
	position: relative;
	left: 0px;
	margin: 30px;
	padding: 5px;
	padding-bottom: 5px;
	text-decoration: underline;
	font-style: italic;
	text-align: left;
	color: #f0f0f0;
}

.content h3{
	margin: 0px;
	margin-bottom: 0px;
	padding: 5px;
	padding-bottom: 0px;
	font-weight: bolder;
	text-align: left;
	color: #f0f0f0;
}

.content p{		
	margin-top: 0;
	padding: 5px;
	padding-bottom: 5px;
	text-align: left;
	color: #d8d8d8;
}		



.footer {
	clear: both;
	height: 66px;
	background: #444444;
}
